{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-plusplus": "off",
    "linebreak-style": ["error", "windows"],
    "import/prefer-default-export": "off"
  }
}
